<p id="notice"><%= notice %></p>

<h1>Coverage Targets</h1>

<table>
  <thead>
    <tr>
      <th>Covered lines</th>
      <th>Line coverage</th>
      <th>Name</th>
      <th>Executable lines</th>
      <th>Build product path</th>
      <th>Coverage report</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coverage_targets.each do |coverage_target| %>
      <tr>
        <td><%= coverage_target.covered_lines %></td>
        <td><%= coverage_target.line_coverage %></td>
        <td><%= coverage_target.name %></td>
        <td><%= coverage_target.executable_lines %></td>
        <td><%= coverage_target.build_product_path %></td>
        <td><%= coverage_target.coverage_report_id %></td>
        <td><%= link_to 'Show', coverage_target %></td>
        <td><%= link_to 'Edit', edit_coverage_target_path(coverage_target) %></td>
        <td><%= link_to 'Destroy', coverage_target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coverage Target', new_coverage_target_path %>
