<p id="notice"><%= notice %></p>

<h1>iOS Coverage Report - TurnipTime</h1>

<canvas id="myChart" width="400" height="100"></canvas>
<script>
    var ctx = document.getElementById('myChart');
    var color = Chart.helpers.color;
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: <%= @coverage_reports.map { |report| report.id } %>,
            datasets: [
                {
                label: 'Executable Lines',
                data: <%= @coverage_reports.map { |report| report.executable_lines } %>,
                backgroundColor: [ 'rgba(255, 99, 132, 0.3)' ],
                borderColor: [ 'rgba(255, 99, 132, 0.3)' ],
                borderWidth: 1,
                fill: true
                },
                {
                    label: 'Covered Lines',
                    data: <%= @coverage_reports.map { |report| report.covered_lines } %>,
                    backgroundColor: [ 'rgba(255, 206, 86, 0.6)' ],
                    borderColor: [ 'rgba(255, 206, 86, 0.6)' ],
                    borderWidth: 1,
                    fill: true
                }
            ]

        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>Covered lines</th>
      <th>Executable lines</th>
      <th>Line coverage</th>
      <th># of Targets</th>
      <th>Report Uploaded</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @coverage_reports.each do |coverage_report| %>
      <tr>
        <td><%= number_with_delimiter(coverage_report.covered_lines) %></td>
        <td><%= number_with_delimiter(coverage_report.executable_lines) %></td>
        <td><%= number_to_percentage(coverage_report.line_coverage, precision: 2) %></td>
        <td><%= coverage_report.coverage_targets.count %></td>
        <td><%= coverage_report.created_at.strftime("%b %d, %Y at %l:%I:%M %P") %></td>
        <td><%= link_to 'More Details', coverage_report %></td>
        <td><%= link_to 'Edit', edit_coverage_report_path(coverage_report) %></td>
        <td><%= link_to 'Delete', coverage_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Coverage Report', new_coverage_report_path %>
