<p id="notice"><%= notice %></p>

<p>
  <strong>Covered lines:</strong>
  <%= @coverage_report.covered_lines %>
</p>

<p>
  <strong>Line coverage:</strong>
  <%= @coverage_report.line_coverage %>
</p>

<p>
  <strong>Coverage targets:</strong>
  <%= @coverage_report.coverage_targets %>
</p>

<p>
  <strong>Executable lines:</strong>
  <%= @coverage_report.executable_lines %>
</p>

<%= link_to 'Edit', edit_coverage_report_path(@coverage_report) %> |
<%= link_to 'Back', coverage_reports_path %>
